/* Contenedor general */
.container {
  background-image: url('assets/valentine_background_28c.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  }
  
  /* Estilo del menú lateral */
  .sidebar {
    width: 250px;
  }
  
  /* Espacio para el contenido */
  .content {
    padding: 20px;
  }
  
  .page-content {
    margin: 20px;
  }
  