.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;  /* Esto agregará un espacio de 20px entre cada tarjeta */
    margin-top: 20px;
  }

  .p {
    text-align: center;
  }